<div class="container" *ngIf="order">
  <div class="row top-15 text-center">
    <div class="col-md-3 col-xs-1 col-sm-3"></div>
    <div class="col-md-3 col-xs-3 col-sm-3 text-left"><a [routerLink]="['/partner']" class="btn btn-primary btn-lg">Домой</a></div>
    <div class="col-md-3 col-xs-4 col-sm-3 text-right" *ngIf="order"><a href="tel://{{ order.client.phone }}" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-earphone"></span> Позвонить клиенту</a></div>
    <div class="col-md-3 col-xs-3 col-sm-3"></div>
  </div>

  <div class="button">


  </div>
  <h3 class="text-center">{{order.id}}.) {{distanceToShop()}} {{order.client.name_surname}} {{order.totalPrice()}} руб</h3>
  <div class="list">
    <div class="table-responsive">
      <table class="table ">
        <tr *ngFor="let product of order.products">
          <td>{{product.product.name}}</td>
          <td style="text-align: right">
            <div class="catalog__qty text-right">
              <span class="jq-input catalog__qty-value">{{product.amount}}</span>
            </div>

          </td>
        </tr>

      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <!--<div class="col-md-6"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acf4f1c70d3741e468afd30933acf6acaabf042cfe9fbde4ad7608579d65b547b&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script> <br></div>-->
    <div class="col-md-3"></div>
  </div>
  <div class="wrapper bottom-15">
    <a class="line big btn btn-danger btn-lg" (click)="deliver()">Завершить заказ</a>
  </div>
</div>
