<div *ngIf="basket">

  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card [routerLink]="['/client/menu', basket.id]" style="width: 95%">
      <div fxLayout="row wrap" fxLayoutAlign="space-around">
        ИТОГОВАЯ СТОИМОСТЬ - {{ basket.getTotalPrice() }} руб

        <span class="example-spacer"></span>
         <a mat-raised-button [routerLink]="['/client/basket', basket.id]" class="header-button" color="primary">
        Меню
      </a>
      <a mat-raised-button [routerLink]="['/client/map']" class="header-button" color="accent">
        Карта
      </a>
      </div>
    </mat-card>
  </div>

  <div class="row top-15 text-center">
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-6 col-xs-6"><h3 class="text-center">Ваш заказ</h3></div>
    <div class="col-md-3 col-xs-3"></div>
  </div>


<div fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card *ngFor="let product of basket.products" class="product-card">
        <mat-card-title>{{product.product.name}}</mat-card-title>
        <mat-card-subtitle>        {{product.product.description}}
        </mat-card-subtitle>
<!--      <img mat-card-image src="{{product.product.photo}}" alt="{{product.product.name}}">-->
      <mat-card-content>

        <div fxLayout="row inline" fxLayoutAlign="space-around center" fxFlexFill>
          <div>{{product.amount}}</div>
          <div>{{product.product.price}}<span>&#8381;</span></div>

        </div>

      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <button mat-button (click)="increase(product)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-button (click)="decrease(product)">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-card-actions>

      </mat-card-footer>
    </mat-card>
  </div>
<!--  <div class="table-responsive">-->
<!--    <table  class="table korzina-table">-->
<!--      <tr>-->
<!--      <tr>-->
<!--        <th>наименование</th>-->
<!--        <th>количество</th>-->
<!--        <th>цена за ед</th>-->
<!--        <th>цена</th>-->
<!--      </tr> &lt;!&ndash;ряд с ячейками заголовков&ndash;&gt;-->

<!--      <tr *ngFor="let product of basket.products">-->
<!--        <td>{{ product.product.name }}</td>-->
<!--        <td style="text-align: left">-->
<!--          <div class="catalog__qty text-center">-->
<!--            <a (click)="decrease(product)" class="jq-dec btn btn btn-default" style="margin-right:7px;">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="1 1 14 14">-->
<!--                <path d="M1 7h14v2H1z"></path>-->
<!--              </svg>-->
<!--            </a><span class="jq-input catalog__qty-value">{{ product.amount }}</span>-->
<!--            <a (click)="increase(product)" class="jq-inc btn btn-default" style="margin-left:5px;">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="1 1 14 14">-->
<!--                <path d="M15 7H9V1H7v6H1v2h6v6h2V9h6"></path>-->
<!--              </svg>-->
<!--            </a>-->
<!--          </div>-->
<!--        <td>{{ product.product.price }}</td>-->
<!--        <td>{{ product.getCost() }}</td>-->
<!--      </tr>-->
<!--    </table>-->
<!--    <p class="text-center top-15 summa">ИТОГОВАЯ СТОИМОСТЬ - {{ basket.getTotalPrice() }} руб</p>-->
<!--  </div>-->

  <div class="row text-center top-30 bottom-15">
    <div class="col-md-4 col-xs-4"></div>
    <div class="col-md-4 col-xs-4"><a class="btn btn-success btn-lg" (click)="confirmBasket()">Отправить заказ</a>
    </div>
    <div class="col-md-4 col-xs-4"></div>
  </div>
</div>
