<div class="d-flex flex-column h-100">
  <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <a class="text-light" routerLink="/">TrafficBasket</a>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <app-become-partner [is_in_sidenav]="false"></app-become-partner>
      <app-user-profile [is_in_sidenav]="false"></app-user-profile>
      <app-bug-collector [is_in_sidenav]="false"></app-bug-collector>


    </div>
  </mat-toolbar-row>
</mat-toolbar>

  <mat-sidenav-container class="flex-fill">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <app-user-profile [is_in_sidenav]="true"></app-user-profile>
      <app-bug-collector [is_in_sidenav]="true"></app-bug-collector>
      <app-become-partner [is_in_sidenav]="true"></app-become-partner>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
</div>
