.product-card {
  width: 350px;
  margin: 10px;
}

.sum-total {
  font-weight: bold;
}


.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

.header-button {
  margin-left: 5px;
}
.example-spacer {
  flex: 1 1 auto;
}
