<div *ngIf="basket">

  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card [routerLink]="['/client/basket', basket.id]" style="width: 95%">
      <div fxLayout="row wrap" fxLayoutAlign="space-around">
         <a [routerLink]="['/client/map']" class="header-button" color="primary" mat-raised-button>
           Корзина: <span class="sum-total">{{basket.getTotalPrice()}}₽</span>
        </a>
        <span class="example-spacer"></span>
        <a [routerLink]="['/client/map']" class="header-button" color="warn" mat-raised-button>
          Назад на карту
        </a>
        <a [routerLink]="['/client/basket', basket.id]" class="header-button" color="accent" mat-raised-button>
          Корзина
        </a>
      </div>
    </mat-card>
  </div>
  <div class="fab-container">
    <button [routerLink]="['/client/basket', basket.id]" class="fab-toggler"
            mat-fab>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card *ngFor="let product of basket.products" class="product-card">
      <mat-card-header>
        <mat-card-title>{{product.product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.product.description}}
        </mat-card-subtitle>
      </mat-card-header>
      <img alt="{{product.product.name}}" mat-card-image src="{{product.product.photo}}">
      <mat-card-content>

        <div fxFlexFill fxLayout="row inline" fxLayoutAlign="space-around center">
          <div>{{product.amount}}</div>
          <div>{{product.product.price}}<span>&#8381;</span></div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="increase(product)" mat-button>
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="decrease(product)" mat-button>
          <mat-icon>remove</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
