<a *ngIf="is_in_sidenav; else elseBlock" mat-list-item [matMenuTriggerFor]="menu">{{is_logged_in ? name_surname : 'Не авторизован' }}</a>
<ng-template #elseBlock>
  <a mat-button [matMenuTriggerFor]="menu">{{is_logged_in ? name_surname : 'Не авторизован' }}</a>
</ng-template>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="!is_logged_in" routerLink="/login">Login</button>
  <button mat-menu-item *ngIf="is_logged_in" (click)="logout()">Logout</button>
</mat-menu>
