<ng-container *ngIf="showProposal">
  <a *ngIf="is_in_sidenav; else elseBlock" [queryParams]="{'as': 'partner'}" [routerLink]="['/register']" mat-list-item>Стать
    партнером</a>
  <ng-template #elseBlock>
    <a [queryParams]="{'as': 'partner'}" [routerLink]="['/register']" mat-button>Стать партнером</a>
  </ng-template>

</ng-container>

<ng-container *ngIf="showToPartner">
  <a *ngIf="is_in_sidenav; else elseBlock" mat-list-item routerLink="/partner">На страницу партнера</a>
  <ng-template #elseBlock>
    <a mat-button routerLink="/partner">На страницу партнера</a>
  </ng-template>

</ng-container>
