<div *ngIf="order && store && currentLocation">
  <app-position-status [position]="currentLocation" [store]="store" [order]="order"></app-position-status>
</div>
<div *ngIf="store && order">
  <app-navigation [store]="store" [order]="order" (location)="onLocationChanges($event)"></app-navigation>
</div>
