<div class="container">

  <form #formDir="ngForm" [formGroup]="productForm">

    <div [hidden]="formDir.submitted">

      <div class="form-group">

        <label for="name">Название</label>
        <input class="form-control" formControlName="name"
               id="name" required>

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Требуется название
          </div>
          <div *ngIf="name.errors.minlength">
            Название должно содержать от 3 символов.
          </div>

        </div>
      </div>

      <div class="form-group">
        <label for="description">Описание</label>
        <input class="form-control" formControlName="description"
               id="description">
      </div>
      <div *ngIf="description.invalid"
           class="alert alert-danger">
        <div *ngIf="description.errors.minlength">
          Описание должно содержать от 10 знаков
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input class="form-control" formControlName="price" id="price"
               required type="number">
      </div>
      <div *ngIf="price.invalid"
           class="alert alert-danger">

        <div *ngIf="price.errors.required">
          Требуется цена
        </div>
        <div *ngIf="price.errors.min">
          Цена должна быть положительным числом
        </div>
      </div>

      <div class="form-group">
        <label for="image">Photo</label>
        <input (change)="onFileChange($event)" class="form-control-file" formControlName="photo" id="image" type="file">
      </div>

      <div *ngIf="photo.invalid"
           class="alert alert-danger">
        <div *ngIf="photo.errors">
          Данное поле должно быть заполнено
        </div>
      </div>


      <div class="form-group">
        <label for="category">Category</label>
        <input class="form-control" formControlName="category"
               id="category" required>
      </div>
      <div *ngIf="category.invalid"
           class="alert alert-danger">
        <div *ngIf="category.errors.required">
          Требуется категория
        </div>

        <div *ngIf="category.errors.minlength">
          Требуется должна содержать от 3 знаков
        </div>
      </div>

      <button (click)="submitForm()" [disabled]="productForm.invalid" class="btn btn-primary"
              type="submit">Submit
      </button>
      <button (click)="formDir.resetForm({})" class="btn btn-warning"
              type="button">Reset
      </button>
    </div>
  </form>
</div>

