<div class="w-100 row">

  <mat-card class="col-xl-8 col-11 mx-auto m-3">
    <mat-card-title>
      Регистрация
    </mat-card-title>
    <mat-card-subtitle>

    </mat-card-subtitle>
    <ng-template [ngIf]="isLowLevel">
      <mat-card-content>
        <p class="text-center">
          Вы уже авторизировались в нашем приложении, и имеете полный доступ к нашему приложению, как партнер и как
          конечный пользователь. Вы можете создать новый базовый аккаунт.
          Но мы рекомендуем вам использовать лишь один личный аккаунт.
        </p>
      </mat-card-content>
    </ng-template>
    <ng-template [ngIf]="isSameLevel">
      <mat-card-content>
        <p class="text-center">
          Вы уже авторизировались в нашем приложении, вы собираетесь зарегистрировать аккаунт с анологичным
          функционалом. Если это не ваш аакаунт, или у вас есть другие причины, вы можете создать новый аккаунт.
          Но мы не рекомендуем вам использовать несколько одинаковых аккаунтов, так как это сказывается на удобстве
          использования приложения, которое мы постоянно улучшаем.
        </p>
      </mat-card-content>
    </ng-template>
    <ng-template [ngIf]="isHighLevel">
      <mat-card-content>
        <p class="text-center">
          Вы уже авторизировались в нашем приложении, если вы продолжите, то новые данные будут прикреплены
          к вашему
          существующему аккаунту.
          Мы не рекомендуем вам, использовать один и тот же аккаунт для работы и личного пользования, для получения
          более лучшего опыта использования нашего приложения. Так как мы занимаемся улучшением на основе ваших целей и
          потребностей.
        </p>
      </mat-card-content>
    </ng-template>
    <mat-card-footer>
      <mat-card-actions class="m-3">
        <button mat-raised-button class="px-2" (click)="createNew()" [color]="isHighLevel ? 'primary': 'basic'">Создать новый</button>
        <button *ngIf="isHighLevel" mat-raised-button  class="px-2" color="warn">Использовать существующий</button>
        <button mat-raised-button class="px-2" (click)="cancel()" [color]="isHighLevel ? 'warn' : 'primary' ">Отмена</button>

      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
