<div class="w-100 row">

  <mat-card class="col-xl-8 col-11 mx-auto m-3">
    <mat-card-title>
      Профиль
    </mat-card-title>
    <mat-card-subtitle>
      Введите данные о себе(данные о вашем автомобиле нужны чтобы легче было найти вас при передаче заказа)
    </mat-card-subtitle>
    <mat-card-content *ngIf="userForm">
      <form [formGroup]="userForm" #formDir="ngForm">
        <div class="d-flex flex-row flex-wrap justify-content-around">
          <div class="p-2 d-flex flex-column flex-fill">
            <mat-form-field class="full-width" *ngFor="let field of userRegisterFieldGroup">
              <mat-label>{{field.placeholder}}</mat-label>
              <input matInput [placeholder]="field.placeholder" [id]="field.name" [name]="field.name"
                     [formControlName]="field.name"
                     [type]="field.inputType">
              <mat-error
                *ngIf="userForm.get(field.name).errors && userForm.get(field.name).touched">
                {{generateErrorMessage(userForm.get(field.name).errors, field)}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions class="m-3">
        <button mat-button (click)="save()">Сохранить</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

</div>



<app-modal id="first-profile">
  <button type="button" (click)="closeModal()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Профиль</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto">Это страница профиля, здесь вы можете изменять информацию своего профиля.</p>

      <p class="text-center w-responsive mx-auto">Сейчас данные о вашем автомобиле не выставлены. Если вы установите их, это поможет найти ваш автомобиль на парковке</p>


  </section>

  <div class="text-center">
          <a class="btn px-4 btn-primary" (click)="closeModal()">Ok</a>
        </div>

</app-modal>

