<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer">
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30 active">
        <a class="sidebar-link" routerLink="/partner/orders" routerLinkActive="highlited">
                <span class="icon-holder">
                  <i class="ti-truck"></i>
                </span>
          <span class="title">Заказы</span>
        </a>
      </li>
        <li class="nav-item">
        <a class='sidebar-link' routerLink="/partner/map" routerLinkActive="highlited">
                <span class="icon-holder">
                  <i class="ti-map-alt"></i>
                </span>
          <span class="title">Карта заказов</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/partner/menu" routerLinkActive="highlited">
                <span class="icon-holder">
                  <i class="ti-menu-alt"></i>
                </span>
          <span class="title">Меню</span>
        </a>
      </li>
       <li class="nav-item">
        <a class='sidebar-link' routerLink="/partner/courier" routerLinkActive="highlited">
                <span class="icon-holder">
                  <i class="ti-flag"></i>
                </span>
          <span class="title">Для курьера</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/partner/shop/info" routerLinkActive="highlited">
                <span class="icon-holder">
                  <i class="ti-info"></i>
                </span>
          <span class="title">Информация</span>
        </a>
      </li>

    </ul>
  </div>
</div>
