<div *ngIf="store && orders" class="container index">
  <div class="d-flex justify-content-around">
    <div><a [routerLink]="['/partner/menu']" class="btn btn-success btn-lg">Меню</a>
    </div>
    <div><a [routerLink]="['/partner/map']" class="btn btn-warning btn-lg">Все на карте</a></div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <tr *ngFor="let order of orders" [ngClass]="{'alert-warning': order.arrived}">
          <a [routerLink]="['/partner/order', order.id]">
            <td>{{order.id}}. {{distanceToShop(order)}} {{order.client.name_surname}}</td>
            <td style="text-align: right">{{order.totalPrice()}} руб</td>
          </a>
        </tr>
      </table>
    </div>
  </div>
</div>




