<table *ngIf="orders" id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Ф.И.О</th>
    <th>Описание машины</th>
    <th>Номер машины</th>
    <th>Номер телефона</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders" [routerLink]="['/partner/order', order.id]">
    <td>{{ order.client.name_surname }}</td>
    <td>{{ order.client.car_description }}</td>
    <td>{{ order.client.car_number }}</td>
    <td>{{ order.client.phone }}</td>
  </tr>

  </tbody>
</table>
