<div class="col-md-3 col-xs-4 col-sm-3 text-left"><a [routerLink]="['/partner/product/create']"
                                                     class="btn btn-success btn-lg">Добавить</a></div>

<div fxLayout="row wrap" fxLayoutAlign="space-around" *ngIf="store">
  <mat-card *ngFor="let product of store.products" class="product-card">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
    </mat-card-header>
    <img alt="{{product.name}}" mat-card-image src="{{product.photo}}">
    <mat-card-content>

      <div fxFlexFill fxLayout="row inline" fxLayoutAlign="space-around center">
        <div>{{product.price}}<span>&#8381;</span></div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['/partner/product/edit', product.id]" mat-button>
        <mat-icon>edit</mat-icon>
      </a>
      <button (click)="deleteProduct(product)" mat-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
