<a *ngIf="is_in_sidenav; else elseBlock" mat-list-item (click)="openBugModal()">Сообщить об ошибке</a>
<ng-template #elseBlock>
  <a mat-button (click)="openBugModal()">Сообщить об ошибке</a>
</ng-template>

<app-modal id="bug-collector">
  <button type="button" (click)="closeBugModal()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Что-то не так?</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Если вы нашли ошибку или неточность в работе данного портала, а
      также если у вас есть предлоежния по его развитию, оставьте сообщение об этом в данной форме.</p>

    <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
        <form [formGroup]="reportForm" #formDir="">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="title">Что у вас случилось?</label>
              <input type="text" class="form-control" id="title" formControlName="title">

              <div *ngIf="title.invalid && (title.dirty || title.touched)"
                   class="alert alert-danger">

                <div *ngIf="title.errors.required">
                  Требуется название
                </div>
                <div *ngIf="title.errors.minlength">
                  Название должно содержать от 3 символов.
                </div>

              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="contact">Оставьте ваш контакт</label>
              <input type="text" class="form-control" id="contact" aria-describedby="contact-help"
                     formControlName="contact">
              <small id="contact-help" class="form-text text-muted">Только для того, чтобы мы смогли уточнить детали и
                сообщить о разрешении проблемы.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="description">Опишите вашу проблемы</label>
            <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>

            <div *ngIf="description.invalid && (description.dirty || description.touched)"
                 class="alert alert-danger">

              <div *ngIf="description.errors.minlength">
                Описание должно содержать от 10 символов.
              </div>

            </div>
          </div>

          <div class="form-group">
            <label for="image">Приложите скриншот, если считаете важным</label>
            <input type="file" formControlName="image" (change)="onFileChange($event)" class="form-control-file"
                   id="image">
          </div>


        </form>
        <div class="text-center text-md-left">
          <a class="btn btn-primary" (click)="submitForm()">Send</a>
        </div>
        <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          Вы также можете лично связатся с нами и оставить обратную связь.
          <li><i class="fa fa-telegram mt-4 fa-2x"></i>
            <p>@Valt25</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

    </div>

  </section>

</app-modal>
