.clickable{
    cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
}

.alert-button {
  max-width: 100%;
  max-height: 100%;
    position: absolute;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
}
