<div id="message">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6" *ngIf="order.arrived || (distanceToShop() < 0.5)">
      <div style="padding: 5px;">
        <div class="alert alert-info">
          <a href="tel://{{ store.phone }}" class="alert-button btn btn-xs btn-primary pull-right"
             style="padding: 5px">Позвонить</a>
          <strong>Внимание:</strong>Вы можете позвонить в магазин.
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="!order.arrived && (distanceToShop() >= 0.5)">
      <div style="padding: 5px;">
        <div class="alert alert-info">
          <a (click)="arriveAtShop()" class="btn btn-xs btn-primary pull-right alert-button"
             style="padding: 5px">На месте</a>
          <strong>Внимание:</strong>{{getDistanceToShopString()}} до магазина.
        </div>
      </div>
    </div>
  </div>
</div>
