<div class="w-100 row">

  <mat-card class="col-xl-8 col-11 mx-auto m-3" *ngIf="!($appUser | async)">
    <mat-card-title>
      Регистрация
    </mat-card-title>
    <mat-card-subtitle>
      Введите данные о себе(данные о вашем автомобиле нужны чтобы легче было найти вас при передаче заказа)
    </mat-card-subtitle>
    <mat-card-content *ngIf="regForm">
      <form [formGroup]="regForm" #formDir="ngForm">
        <div class="d-flex flex-row flex-wrap justify-content-around">
          <div *ngFor="let group of userRegisterFieldGroup" class="p-2 d-flex flex-column flex-fill">
            <mat-form-field class="full-width" *ngFor="let field of group.fields">
              <mat-label>{{field.placeholder}}</mat-label>
              <input matInput [placeholder]="field.placeholder" [id]="field.name" [name]="field.name"
                     [formControlName]="field.name"
                     [type]="field.inputType">
              <mat-error
                *ngIf="regForm.get(field.name).errors && regForm.get(field.name).touched">
                {{generateErrorMessage(regForm.get(field.name).errors, field)}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions class="m-3">
        <button mat-button (click)="register()">Зарегистрироваться</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
