<div class="w-100 row">

  <mat-card class="col-xl-8 col-11 mx-auto m-3">
    <mat-card-title>
      Информация
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
      Введите данные о магазине. Они будут использоваться для SEO и для всех обозначений на сайте,
    поэтому советуем вам менять их как можно реже.
    <mat-card-content *ngIf="shopForm">
      <form [formGroup]="shopForm" #formDir="ngForm">
        <div class="d-flex flex-row flex-wrap justify-content-around">
          <div class="p-2 d-flex flex-column flex-fill">
            <mat-form-field class="full-width" *ngFor="let field of shopInfoFieldGroup">
              <mat-label>{{field.placeholder}}</mat-label>
              <input matInput [placeholder]="field.placeholder" [id]="field.name" [name]="field.name"
                     [formControlName]="field.name"
                     [type]="field.inputType">
              <mat-error
                *ngIf="shopForm.get(field.name).errors && shopForm.get(field.name).touched">
                {{generateErrorMessage(shopForm.get(field.name).errors, field)}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions class="m-3">
        <button mat-button (click)="save()">Сохранить</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

</div>



<app-modal id="first-shop">
  <button type="button" (click)="modalService.close('first-shop')" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Профиль</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto">Это страница магазина, здесь вы можете изменять информацию своего магазина.</p>

      <p class="text-center w-responsive mx-auto">В меню справа, вы сможете найти другие элементы управления вашей точкой.</p>


  </section>

  <div class="text-center">
          <a class="btn px-4 btn-primary" (click)="modalService.close('first-shop')">Ok</a>
        </div>

</app-modal>

