// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Page Container
// + @Main Content
// + @Full Container
// + @Collapsed State

// ---------------------------------------------------------
// @Page Container
// ---------------------------------------------------------
@import "~src/sass/settings/baseColors";
@import "~src/sass/tools/mixins/mediaQueriesRanges";
@import "~src/sass/tools/mixins/clearfix";
@import "~src/sass/settings/breakpoints";

:host {
  display: flex;
  height: 100%;
}

.page-container {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
  overflow: auto;
}

