<div class="w-100 row">

  <mat-card class="col-xl-8 col-11 mx-auto m-3">
    <mat-card-title>
      Регистрация завершена
    </mat-card-title>
    <mat-card-subtitle>
      Вы уже можете пользоваться всеми функциями нашего приложения. Но это еще не все. Для удобства и лучшего опыта заполните дополнительную информацию о {{isAdmin ? 'вашем магазине' : 'себе'}}

      <p>Через 10 секунд вы автоматически будете переведены на страницу заполнения информации</p>
    </mat-card-subtitle>
    <mat-card-footer>
      <mat-card-actions class="m-3">
        <button mat-button (click)="toFillFields()">Заполнить</button>
        <button mat-button (click)="skip()">Пропустить</button>

      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

</div>
