<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://novinki-tut.ru/bailini/img/thnx.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Заказ принят! Для перехода к навигации нажмите навигация
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button  [routerLink]="['/client/navigation', this.id]">Навигация</button>
  </mat-card-actions>
</mat-card>
