<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="loginForm" #formDir="ngForm">
					<span class="login100-form-title p-b-26">
						Welcome
					</span>
        <span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

        <div class="wrap-input100 validate-input" [ngClass]="{'alert-validate': username.errors}"
             data-validate="Неверное имя пользователя">
          <input class="input100 has-val" id="inputEmail" placeholder="Username" formControlName="username"
                 name="username" type="text" required>
          <span class="focus-input100" data-placeholder="Username"></span>
        </div>

        <div class="wrap-input100 validate-input" [ngClass]="{'alert-validate': password.errors}"
             data-validate="Введите пароль">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
          <input class="input100 has-val" id="password" formControlName="password" name="password" type="password"
                 placeholder="Password" required>
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>
        <div *ngIf="wrongPass">
          <span class="text-danger">Неверное имя пользователя или пароль</span>
        </div>
        <div>
          <a routerLink="/register" [queryParams]="{'as': 'user'}">Зарегистрироваться</a>
        </div>
        <div>
             <a routerLink="/register" [queryParams]="{'as': 'partner'}">Стать партнером</a>
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="login()" [disabled]="loginForm.invalid">
              Login
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
