<div *ngIf="order">
 <main class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>Оформление платежа</h2>
          <p>Проверьте ваш заказ и выберите удобный метод оплаты.</p>
        </div>
          <div class="products">
            <h3 class="title">Заказ</h3>
            <div class="item" *ngFor="let product of order.products">
              <span class="price">{{product.getCost()}}</span>
              <p class="item-name">{{product.product.name}}</p>
              <p class="item-description">{{product.product.description}}</p>
            </div>
          </div>
          <!--<div class="card-details">-->
            <!--<h3 class="title">Credit Card Details</h3>-->
            <!--<div class="row">-->
              <!--<div class="form-group col-sm-7">-->
                <!--<label for="card-holder">Card Holder</label>-->
                <!--<input id="card-holder" type="text" class="form-control" placeholder="Card Holder" aria-label="Card Holder" aria-describedby="basic-addon1">-->
              <!--</div>-->
              <!--<div class="form-group col-sm-5">-->
                <!--<label for="">Expiration Date</label>-->
                <!--<div class="input-group expiration-date">-->
                  <!--<input type="text" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">-->
                  <!--<span class="date-separator">/</span>-->
                  <!--<input type="text" class="form-control" placeholder="YY" aria-label="YY" aria-describedby="basic-addon1">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="form-group col-sm-8">-->
                <!--<label for="card-number">Card Number</label>-->
                <!--<input id="card-number" type="text" class="form-control" placeholder="Card Number" aria-label="Card Holder" aria-describedby="basic-addon1">-->
              <!--</div>-->
              <!--<div class="form-group col-sm-4">-->
                <!--<label for="cvc">CVC</label>-->
                <!--<input id="cvc" type="text" class="form-control" placeholder="CVC" aria-label="Card Holder" aria-describedby="basic-addon1">-->
              <!--</div>-->
              <!--<div class="form-group col-sm-12">-->
                <!--<button type="button" class="btn btn-primary btn-block">Proceed</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->


  <form ngNoForm method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="410015902501066">
    <input type="hidden" name="formcomment" value="Оплата заказа">
    <input type="hidden" name="short-dest" value="short-dest">
    <input type="hidden" name="label" [value]="order.id">
    <input type="hidden" name="quickpay-form" value="donate">
    <input type="hidden" name="targets" value="Оплата заказа">
    <input type="hidden" name="sum" [value]="order.totalPrice()" data-type="number">
    <input type="hidden" name="comment" value="">
    <input type="hidden" name="need-fio" value="false">
    <input type="hidden" name="need-email" value="false">
    <input type="hidden" name="need-phone" value="false">
    <input type="hidden" name="need-address" value="false">
    <input type="hidden" name="paymentType" value="PC">
<!---->
    <div class="t588__buttons">
      <div class="t588__buttons-wrapper t-margin_auto">
        <input type="submit" class="btn btn-primary btn-block" value="Оплатить Яндекс Деньгами">
<!---->
      </div>
    </div>
  </form>

         <form ngNoForm method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="410015902501066">
    <input type="hidden" name="formcomment" value="Оплата заказа">
    <input type="hidden" name="short-dest" value="short-dest">
    <input type="hidden" name="label" [value]="order.id">
    <input type="hidden" name="quickpay-form" value="donate">
    <input type="hidden" name="targets" value="Оплата заказа">
    <input type="hidden" name="sum" [value]="order.totalPrice()" data-type="number">
    <input type="hidden" name="comment" value="">
    <input type="hidden" name="need-fio" value="false">
    <input type="hidden" name="need-email" value="false">
    <input type="hidden" name="need-phone" value="false">
    <input type="hidden" name="need-address" value="false">
    <input type="hidden" name="paymentType" value="AC">
<!---->
    <div class="t588__buttons">
      <div class="t588__buttons-wrapper t-margin_auto">
        <input type="submit" class="btn btn-primary btn-block" value="Оплатить картой">
<!---->
      </div>
    </div>
  </form>
      </div>
    </section>
  </main>

</div>
